.navbar-nav li a{
  color: #232049 !important;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.home_show_currency_table th {
  text-align: center;
}

.home_show_currency_table td {
    text-align: center;
}

table td a{
  font-size: 1.2rem;
  color: #3498db;
}

.new_load_cs{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
